.App {
  text-align: center;
  margin: 10px;
}

.focus-word {
  min-height: 10rem;
}

.top-banner {
  display: flex;
  border-radius: 1rem;
  margin-bottom: 1rem;
  flex-direction: row-reverse;
}

.selected-word {
  width: 12%;
  font-size: 3rem;
  padding: 1rem 3rem;
  line-height: 5rem;
}

.translations {
  width: 100%;
  direction: ltr;
  font-size: 2rem;
}

.definition-arrow {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;

}

.translation-meaning {
  padding: 1rem;
  height: 10vh;
}

.translation-tense {
  padding: 1rem;
  height: 10vh;
}

.wordbox {
  font-size: 2rem;
  max-width: 100vw;
  text-align: right;
  overflow-wrap: break-word;
  padding: 1rem;
}

.word-elem {
  margin: 0.5rem;
  align-items: center;
}

.grammar-box {
  display: flex;
  width: 100%;
}

.grammar-box-elem {
  width: 100%;
}

.arab-text {
  direction: rtl;
  /* TODO add font for arabic text specifically */
}

.gimme-outline {
  outline: 1px solid red;
}